<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body style="min-height: 100vh;">
  <!-- component -->
  <header></header>
   
    <!-- banner-->

    <section class="banner">
      <div class="banner-img"></div>
      <div class="banner-content">
        <h3 class="banner-content-title">Titolo di prova</h3>
        <p class="banner-content-paragraph">Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit, .</p>
      </div>
      <div>
         <a href="#" class="banner-button">
           call to action
           <span class="banner-content-button-img"></span>
          </a>
      </div>
    </section>
 
  
</body>
</html>