<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body style="min-height: 100vh;">
  <!-- component -->
  <header></header>
   
    <!-- banner-->
    <section class="banner">
      <div class="banner-img"></div>
      <div class="banner-content">
        <h3>Titolo</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="banner-button">
          CALL TO ACTION
        </div>  
      </div>

    </section>
  
</body>
</html>