<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css?v=324424">
  <title>Document</title>
</head>
<body>
  <section class="card-section">
    <div class="card-section main-container">
      <div class="bg-image">
      </div>
      <div class="text-container">
        <h4>titolo</h4>
        <p>descrizione</p>
      </div>
      <button class="button"></button>
    </div>
    <div class="card-section card-container">
      <div class="card-text">
        <h4 class="card-title">titolo card</h4>
        <p class="card-desc">prova descrizione card</p>
      </div>
      <a class="card-link">call to action</a>
    </div>
  </section>
</body>
</html>