<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card section</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div class="card-section">
    <div class="card-section main-container">
      <div class="text-container">
        <h3 class="text-container-title">Unam Incolunt aliam tertiam</h3>
        <p class="text-container-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit optio sint veniam sunt maxime quibusdam neque! Dolorum ad maiores repellat similique nesciunt dignissimos quidem sed, corporis porro quod eveniet nihil.</p>
      </div>
      <button class="button">Call to action</button>
    </div>
    <div class="card-section card-container">
      <div class="card">
        <h4 class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h4>
        <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora architecto explicabo illum eligendi iure adipisci necessitatibus ipsum recusandae! Quisquam itaque sapiente eos eveniet repudiandae, minima esse quibusdam officiis culpa consequuntur.</p>
        <a href="#" class="card-link">Call to action</a>
      </div>
      <div class="card">
        <h4 class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h4>
        <p class="card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quam perferendis tempore totam? Saepe modi voluptatum quaerat aut deleniti quidem molestiae odio quod, eos ratione assumenda cumque eveniet fugiat nostrum.</p>
        <a href="#" class="card-link">Call to action</a>
      </div>
      <div class="card">
        <h4 class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h4>
        <p class="card-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus amet eius fuga iste in deleniti nostrum pariatur laborum delectus nemo nobis, animi officiis, accusamus possimus ducimus harum! Aperiam, sint eum.</p>
        <a href="#" class="card-link">Call to action</a>
      </div>
    </div>
  </div>
</body>
</html>