<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <section class="card-section">
    <div class="card-section main-container">
      <div class="text-container">
        <h3 class="text-container-title">
          Lorem ipsum dolor sit amet consectetur adipisici
        </h3>
        <p class="text-container-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quisquam quas eaq</p>
      </div>
    </div>
    <div class="button is-bomile">Call to action</div>
    <div class="card-section card-container">
      <div class="card left">
        <h4>
          Contra legem facit qui id facit quod lex prohibet.
        </h4>
        <p>
          Cum ceteris in veneratione tui montes, nascetur mus. At nos hinc posthac, sitientis piros Afros. A communi observantia
          non est recedendum.
        </p>
        <div class="button">Call to action</div>
      </div>
      <div class="card">
        <h4>
          Contra legem facit qui id facit quod lex prohibet.
        </h4>
        <p>
          Cum ceteris in veneratione tui montes, nascetur mus. At nos hinc posthac, sitientis piros Afros. A communi
          observantia
          non est recedendum.
        </p>
        <div class="button">Call to action</div>
      </div>
      <div class="card">
        <h4>
          Contra legem facit qui id facit quod lex prohibet.
        </h4>
        <p>
          Cum ceteris in veneratione tui montes, nascetur mus. At nos hinc posthac, sitientis piros Afros. A communi
          observantia
          non est recedendum.
        </p>
        <div class="button">Call to action</div>
      </div>
    </div>
  </section>
</body>
</html>