<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carousel</title>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body style="min-height: 100vh;">
    <section class="carousel">
      <div class="carousel-intro">
        <h2 class="carousel-intro-title">Cum Ceteribus</h2>
        <p class="carousel-intro-subtitle">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br />
          Minus, officia corporis iusto vero ratione labore, placeat rem facere
          quod ut, eligendi voluptas sapiente eos. Deserunt eius impedit sunt
          ipsam cum!
        </p>
      </div>
      <div class="carousel-container">
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
        <div class="carousel-card">
          <div class="carousel-card-image"></div>
          <h6 class="carousel-card-title">Iconcina</h6>
        </div>
      </div>
      <div class="carousel-button">
        <div class="carousel-button-action"><a href="#">Call to action</a></div>
        <div class="carousel-button-icon"></div>
      </div>
    </section>
  </body>
</html>
