<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cover-Team</title>
  <link rel="stylesheet" href="../style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;400;500;900&display=swap" rel="stylesheet">
</head>
<body>
  <section class="cover background">
    <div class="cover-content">
      <h1 class="cover-title">Magna pars studiorum prodita</h1>
      <h4 class="cover-subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt fugiat, assumenda tempora iste provident omnis rem veritatis repudiandae</h4>
      <a href="#" class="arrow"></a>
      <a href="#" class="cover-btn">CALL TO ACTION</a>
    </div>
  </section>
  
</body>
</html>