<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cover-Team</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <section class="cover">
    <div class="cover-content">
      <h1 class="cover-title">Magna pars studiorum prodita</h1>
      <h4 class="cover-subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt fugiat, assumenda tempora iste provident omnis rem veritatis repudiandae</h4>
    </div>
    <a href="#" class="cover-btn">CALL TO ACTION</a>
  </section>
  
</body>
</html>