<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cover-team</title>
  <link rel="stylesheet" href="../style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,300&family=Roboto:ital,wght@0,300;0,500;0,900;1,300;1,500&display=swap" rel="stylesheet">
</head>
<body style="min-height: 100vh;">
  <!-- component -->
<section class="cover">
  <div class="cover-column">
<div class="cover-image">  </div>
<div class="cover-contenent">
  <h1 class="cover-title">Lorem, ipsum dolor sit amet </h1>
  <br>
  <h4 class="cover-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo fuga,tempore animi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo fuga,tempore animi!</h4>
  <br>
</div>
<a href="#" class="cover-btn"> <img class="cover-btn-png" src="../styles/assets/3298607-document-download-downloads_107006.png" alt="freccia"> to action</a> 

</div>
</section>
</body>
</html>
<!--http://localhost:8080/components/cover.html-->