<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body style="min-height: 100vh;">
  <!-- component -->
    <footer class="footer">
      <div class="footer footer-container">
        <div class="footer-logo"></div>
        <div class="footer-nav">
          <div class="footer-nav-column">
            <a href="#" class="footer-link"></a>
            <a href="#" class="footer-link"></a>
            <a href="#" class="footer-link"></a>
            <a href="#" class="footer-link"></a>
          </div> 
          <div class="footer-nav-column">
            <a href="#" class="footer-link"></a>
            <a href="#" class="footer-link"></a>
            <a href="#" class="footer-link"></a>
            <a href="#" class="footer-link"></a>
          </div>
        </div>
        <div class="footer-info">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, beatae molestiae? Obcaecati nisi distinctio sint saepe natus minus nobis accusantium. Maxime iusto dolores, iure ipsum saepe aliquam sed pariatur ipsam.</p>
          <p>social</p>
          <div class="footer-icons">icone</div>
        </div>
        
        <p>TERMINI E CONDIZIONI</p>
  
      </div>
    </footer>
</body>
</html>