<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body style="min-height: 100vh;">
  <!-- component -->
  <footer class="footer">
    <div class="footer footer-container">
      <div class="footer-logo"></div>
      <div class="footer-nav">
        <div class="footer-nav">
          <a href="#" class="footer-link"></a>
          <a href="#" class="footer-link"></a>
          <a href="#" class="footer-link"></a>
          <a href="#" class="footer-link"></a>
        </div> 
        <div class="footer-nav">
          <a href="#" class="footer-link"></a>
          <a href="#" class="footer-link"></a>
          <a href="#" class="footer-link"></a>
          <a href="#" class="footer-link"></a>
        </div>
      </div>
      <div class="footer-info">
        <p>info</p>
        <p>social</p>
        <div class="footer-icons"></div> 
      </div>
                  
    </div>
    
    <p class="centered"></p>

  </footer>

</body>
</html>