<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  
 <footer class="footer footer-main">
  <div class="footer-container">
    <div class="footer-logo"></div>
    <div class="footer footer-container information">
    <div class="footer-nav">
      <div class="footer-link">
        <a href="#" class="footer-link">page</a>
        <a href="#" class="footer-link">page</a>
        <a href="#" class="footer-link">page</a>
        <a href="#" class="footer-link">page</a>
      </div> 
      <div class="footer-link">
        <a href="#" class="footer-link">page</a>
        <a href="#" class="footer-link">page</a>
        <a href="#" class="footer-link">page</a>
        <a href="#" class="footer-link">page</a>
      </div>
    </div>
    <div class="footer-info">
      <div class="footer-info address">
      Dipartimento di Informatica, Università degli studi di Verona, Strada le Grazie 15, Verona, 37134, Italia.</div>
      <div class="footer-info social">Social</div>
      <div class="footer-icons"></div> 
    </div>
    
  </div>
                
  </div>
  
 <!--<p class="centered"> Pellentesque habitant morbi tristique senectus et netus. Quisque ut dolor gravida, placerat libero vel, euismod.</p>-->

</footer>

</body>
</html>