<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style.css">
  <script type="text/javascript" src="../all.js"></script>
</head>
<body style="min-height: 100vh;">
  <!-- component -->
  <header class="header header-main">
    <div class="header-container">
      <div class="header-logo"></div>
      <div class="header header-container navigation">
      <nav id="menuFullScreen" class="header-nav">
        <a href="#" class="header-link">page</a>
        <a href="#" class="header-link">page</a>
        <a href="#" class="header-link">page</a>
        <a href="#" class="header-link">page</a>
      </nav>
      <div id="voiceMenu"class="header-menu">MENU</div>
      <div id="buttonMenu" class="header-button" onclick="toggleMenu('menuFullScreen')"></div>
          </div>
        </div>
  </header>
 


</body>
</html>