<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style.css">
  <script src="../js/toggle.js"></script>
</head>

<body style="min-height: 100vh;">
  <!-- component -->
  <header class="header">
    <div class="header-container">
      <div class="header-logo"></div>
      <button id="openMenu" class="header-button" onclick="toggleClass('mainMenu','visible')">
        <span>menu</span>
        <i class="header-icon"></i>
      </button>
    </div>
    <div id="mainMenu" class="header-menu">
      <button id="closeMenu" class="header-button" onclick="toggleClass('mainMenu','visible')">
        <i class="header-icon"></i>
      </button>
      <ul class="header-list">
        <li><a class="header-link" href="#">Link</a></li>
        <li><a class="header-link" href="#">Link</a></li>
        <li><a class="header-link" href="#">Link</a></li>
        <li><a class="header-link" href="#">Link</a></li>
      </ul>
    </div>
  </header>
</body>

</html>