* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 18px;
}
@include desktop {
  html {
    font-size: 16px;
  }
  .content .card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    line-height: 1.5rem;
  }
}
@include tablet {
  html {
    font-size: 14px;
  }
}
@include mobile {
  html {
    font-size: 12px;
  }
}