
.button {
  display: inline-flex;
  padding: 6px 6pxpx;
  color: inherit;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  margin-left: 20px;
}
.button:after {
  content: url(../../assets/ic_arrow_forward.png);
  max-width: 3%;
  max-height: 3%;
  display: inline;
  position: relative;
  left: 10px;
}
