$primary-color: #ffc74d;
$secondary-color: #a5a5a5;
$button-color: red;

.cover {
  background-color: pink; 
  height: 800px; 
  padding: 2rem;
  padding-left: 200px;
  font-family: 'Roboto', sans-serif;
  
    &-content {
      display: flex;
      flex-direction: column;
      width: 470px;
      height: 700px;
    }

    &-title { 
      width: 100%;
      margin-top: 100px;
      margin-bottom: 5px;
      font-size: 5rem;
      font-weight: 700;
    }

    &-subtitle {
      width: 100%;
      margin-top: 0px;
      font-size: 1rem;
      text-align: justify;
      text-justify: inter-character;
    
    }

    &-btn {
      margin-top: 10px;
      font-size: 1rem;
      text-decoration: none;  
    }    
}

