.footer {
  padding: $base-spacer*2;
  
  

    &.footer-main {
    background-color: $footer-color;
    color: $secondary-color;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    
  }

  &-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: $base-spacer;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &-logo {
    display: flex;
    padding: 2.4rem;
    background-image: url('../../media/logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  
  
    width: 10%;
    max-width: 160px;
    min-width: 60px;
  }

  &-container.information {

    display: flex;
    flex:  wrap;

    & .footer-nav {   

      display: flex;
      flex-direction: row;      
      
      align-items: center;  
      
      flex-grow: 2;      
    }
    
  
  }

  &-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $secondary-color;
    padding: 0rem 0.4rem 0.4rem 0.4rem;
    
  }

  &-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

  }
}