.container {
  @include mobile {
    max-width: 100vw;
    padding: 0 $base-spacer/2;
  }
  @include tablet {
    max-width: 100vw;
    padding: 0 $base-spacer;
  }
  @include desktop {
    max-width: 100vw;
    padding: 0 $base-spacer*1.5;
  }
  max-width: $desktop;
  padding: 0 $base-spacer*2;
  margin: 0 auto;
}