// colors
$base-color: #343059;
$primary-color: #EFAB45;
$secondary-color: #D8DBDF;
$footer-color: #3D3A45;

// brackepoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;


// spacers
$base-spacer: 1rem;