// colors
$base-text-color: rgb(252, 252, 252);
$primary-color: rgb(114, 112, 116);
$secondary-color: rgb(235, 136, 14);

// brackepoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;


// spacers
$base-spacer: 1rem;