// colors
$base-text-color: rgb(46, 46, 46);
$primary-color: rgb(117, 33, 213);
$secondary-color: rgb(235, 136, 14);

// brackepoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;


// spacers
$base-spacer: 1rem;